
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
  /* height: calc(150vh-110px); */
  overflow: hidden;
  /* padding: 10px 0 40px 60px; */
  /* margin-bottom: 5rem; */
}

.box-child {
  /* background-color: pink; */
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* padding-right: 3rem; */
}

.box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .box ul:last-of-type{top:80px} */

.box ul:before {
  content: "";
  display: block;
  width: 0;
  /* height: 100%; */
  border: 1px dashed #fff;
  position: absolute;
  top: 0;
  left: 30px
}

.box ul li {
  margin: 20px 60px 60px;
  position: relative;
  padding: 10px 20px;
  /* background:rgba(255, 255, 255, 0.3); */
  background-color: rgba(22, 8, 47, 0.5);

  color: #fff;
  border-radius: 10px;
  line-height: 20px;
  width: 100%;


  border: 1.7px solid rgba(200, 137, 230, 0.637);
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
}


.box ul li>span {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: -32px
}

.box ul li>span:before,
.box ul li>span:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #fff;
  position: absolute;
  left: -7.5px;
  margin-top: 5px;
  /* top: 110px; */
}

.box ul li>span:before {
  top: -10px
}

.box ul li>span:after {
  top: 95%
}
.box .info{
  display: flex;
  gap: 8px;
  /* font-size: 18px; */


  /* border: 2px solid red; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
}
.box .info .ttt{
  font-size: 18px;
}
.box .info:first-letter {
  text-transform: capitalize;
  line-height: 1.7;
}

.box .name {
  margin-top: 10px;
  text-transform: capitalize;
  font-style: italic;
  text-align: right;
  margin-right: 20px
}


.box .time span {
  position: absolute;
  left: -60px;
  color: #fff;
  font-size: 80%;
  font-weight: bold;
}

.box .time span:first-child {
  top: -27px
}

.box .time span:last-child {
  top: 105%
}

.title{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  margin-bottom: 15px;
}
.title h5{
  font-size: 14px;
}
.cmp{
  font-size: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.cmp1{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  /* gap:-10px; */
}
.cmp2{
  font-size: 14px;

}

@media screen and (max-width: 1004px) {
  .box-child {
    width: 80%;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 750px) {


  .box-child {
    width: 90%;
    padding-right: 2rem;
    /* justify-content: flex-start; */
  }
  .box{
    justify-content: flex-start;
  }
  .box .time span:last-child {
    top: 102%
  }
  .box .info{
    font-size: 12px;
  }
  .title h5{
    font-size: 12px;
  }
  .cmp{
  font-size: 50px;
  gap: 10px;
    margin-bottom: 20px;
  }
  .cmp1{
    font-size: 14px;
  }
  .cmp2{
    font-size: 10px;
  }
}

@media screen and (max-width: 640px) {

}


@media screen and (max-width: 480px) {

}

@media screen and (max-width: 410px) {

}